body{
    font-family: Verdana;
}

h1{
    text-align: center;
}

/* FORMULÃRIO */

form{
    width: 80%;
    border: 1px solid black; 
    padding: 10px; 
    margin: 0 auto;
    border-radius: 15px;
    
}


input, select, textarea{
    width: 100%; 
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    outline: none;
    border: 1px solid gray;
}

input[type=checkbox], input[type=radio]{
    width: 5%;
}


input[type=text]:focus, input[type=password]:focus{
    box-shadow: 0 0 10px black;
}

legend{
    text-align: center;
}

textarea{
    height: 150px;
    resize: none;
}

.btn > *{
    width: 30%; 
    border: none; 
    padding: 10px; 
    font-size: 16px;
    background-color: #ccc;

}
.btn > *:active{
    outline: 1px outset black;
    
}


.btn > *:hover{
    cursor: pointer;
    background-color: #a5a5a5;
}

input[type=color]{padding: 0;}



